@model POVTAS_OSU.Models.AcademicTitle

@{
    ViewBag.Title = "Delete";
}

<h2>Ученое звание</h2>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Удаление</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" /> 
        </div>

        <div class="mt-3">
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
