@model IEnumerable<POVTAS_OSU.Models.Contact>
@{
    ViewBag.Title = "Home Page";
}

<style>
    .wrapper-carousel {
        width: 100%;
        height: 300px;
    }

    .carousel-img-1 {
        background-image: url(../../Images/PC.jpg);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: cover;
    }

    .carousel-img-2 {
        background-image: url(../../Images/Main1.jpg);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: cover;
    }

    .carousel-img-3 {
        background-image: url(../../Images/olimpiada.jpg);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: cover;
    }

    .wrapper-body-img {
        width: 100%;
        height: 100%;
    }


    .body-img-1 {
        background-image: url(../../Images/OSU1.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: cover;
    }

    .body-img-2 {
        background-image: url(../../Images/olimpiada.jpg);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: cover;
    }

    .body-img-3 {
        background-image: url(../../Images/PC2.jpg);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: cover;
    }

</style>

<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                @*<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#e3e3e3" /><use href="~/Images/Main1.jpg"/></svg>*@
                <div class="wrapper-carousel carousel-img-1"> </div>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Коллектив кафедры</h1>
                        <p class="fs-5">
                            В настоящее время бывшие выпускники нашего вуза, некогда начавшие свою научно-подагогическую карьеру в стенах родной
                            кафедры, демонстрируют высокий научно-методический уровень преподавания читаемых дисциплин.
                        </p>
                        <p><a class="btn btn-lg text-light" style="background-color: #7abfff;" href="../../Home/Teachers">Подробнее</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                @*<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>*@
                <div class="wrapper-carousel carousel-img-2"> </div>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Образовательные программы</h1>
                        <p class="fs-5">На нашей кафедре можно получить высшее образование различного уровня на основных образовательных программах бакалавриата и магистратуры.</p>
                        <p><a class="btn btn-lg text-light" style="background-color: #7abfff;" href="../../Home/EducationalPrograms">Подробнее</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                @*<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>*@
                <div class="wrapper-carousel carousel-img-3"> </div>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Дисциплины кафедры</h1>
                        <p class="fs-5">Дисциплин по различным направлениям подготовки великое множество, но подробнее ознакомиться с ними вы можете здесь.</p>
                        <p><a class="btn btn-lg text-light" style="background-color: #7abfff;" href="../../Home/Disciplines">Подробнее</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>


    <!-- Маркетинговые сообщения и короткометражки
    ================================================== -->
    <!-- Оберните остальную часть страницы в другой контейнер, чтобы центрировать все содержимое. -->

    <div class="container marketing">

        <!-- Три столбца текста под каруселью -->
        <div class="row mt-5">
            <!--<div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h4>Образовательные программы</h4>
                <p>Некоторый типичный заполнитель для трех столбцов текста под каруселью. Это первая колонка.</p>
                <p><a class="btn text-light" style="background-color: #7abfff;" href="../../Home/EducationalPrograms">Посмотреть детали &raquo;</a></p>
            </div>--><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                @*<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>*@
                <div class="bd-placeholder-img rounded-circle" width="140" height="140">
                    <img src="~/Images/backpack.png" />
                </div>
                    <h4>Школьникам</h4>
                    <p>Дни открытых дверей и все, что полезно школьникам и родителям.</p>
                    <p><a class="btn text-light" style="background-color: #7abfff;" href="../../Home/Schoolchildren">Посмотреть детали &raquo;</a></p>
                </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                @*<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>*@
                <div class="bd-placeholder-img rounded-circle" width="140" height="140">
                    <img src="~/Images/graduation-hat.png" />
                </div>    
            
                <h4>Студентам и выпускникам</h4>
                <p>Вся самая полезная и необходимая информация для студентов и выпускников.</p>
                <p><a class="btn text-light" style="background-color: #7abfff;" href="../../Home/StudentsAndAlumnus">Посмотреть детали &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                @*<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>*@
                <div class="bd-placeholder-img rounded-circle" width="140 px" height="140 px">
                    <img src="~/Images/statistics.png"/>
                </div>
                    <h4>НИР и мероприятия</h4>
                    <p>Научно-исследовательские работы и предстоящие мероприятия кафедры.</p>
                    <p><a class="btn text-light" style="background-color: #7abfff;" href="../../Home/ResearchWorkAndActivities">Посмотреть детали &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START ОСОБЕННОСТИ -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">История кафедры @*<span class="text-muted">Это взорвет твой разум.</span>*@</h2>
                <p class="lead">
                    Кафедра программного обеспечения вычислительной техники и автоматизированных систем
                    является структурным подразделением факультета математики и информационных технологий
                    университета и располагается в аудитории 1222 1-го учебного корпуса ОГУ.
                    С момента возникновения кафедру отличал высокий научно-методический уровень преподавания
                    читаемых дисциплин. В настоящее время традиции кафедры продолжают бывшие выпускники нашего
                    вуза, которые начали свою научно-педагогическую карьеру в стенах родной кафедры, будучи еще
                    студентами. Первый выпуск инженеров по специальности "Программное обеспечение вычислительной
                    техники и автоматизированных систем" состоялся в 1998 году.
                </p>
            </div>
            <div class="col-md-5">

                @*<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /></svg>*@
                <div class="wrapper-body-img body-img-1"></div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Что мы предоставляем?@*<span class="text-muted">Убедитесь сами.</span>*@</h2>
                <p class="lead">
                    В настоящее время кафедра имеет в составе 7 предметных аудиторий, из них две мультимедийные аудитории,
                    5 компьютерных класса, объединенных локальной сетью с выходом в Интернет, беспроводной сетью Wi-fi.
                    За весь период существования на кафедре активно проводилась научно-исследовательская деятельность.
                    В 2003 году на кафедре открыта учебно-научная лаборатория компьютерного моделирования.
                    На кафедре осуществляется работа по госбюджетной НИР по теме "Развитие информационных технологий и
                    методов принятия решений в автоматизированных системах № 02201001067 " под руководством заведующего
                    кафедрой ПОВТАС, д. т. н., профессора Н. А. Соловьева. Помимо этого кафедра проводит ежегодно городскую
                    олимпиаду по программированию.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                @*<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>*@
                <div class="wrapper-body-img body-img-2"></div>

            </div>
        </div>

        <hr class="featurette-divider">

        

       

        <!-- /END ОСОБЕННОСТИ -->


    </div><!-- /.container -->


</main>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>



<!--

    <style>
        body {
            min-width: min-content;
        }
        /* Hover Blur Effect */
        .text-white {
            color: #fff;
        }

        .hover-blur a {
            display: block;
            position: relative;
            overflow: hidden;
        }

        .hover-blur img {
            width: 100%;
            height: auto;
            max-height: 350px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            /*-ms-transition: all 0.5s ease-in-out;*/
            transition: all 0.5s ease-in-out;
        }

        .hover-blur:hover img {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            -webkit-filter: grayscale(0.6) blur(1px);
            filter: grayscale(0.6) blur(1px);
        }

        .hover-blur a h1 {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 3vw;
            margin-bottom: 0px;
            height: 100%;
            width: 100%;
            padding: 11vw;
            text-align: center;
            background-color: rgba(0,0,0,0.5);
            /*background dotted*/
            background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
            background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
            background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
            background-image: repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
            /*-webkit-background-size: 3px 3px;
        -moz-background-size: 3px 3px;*/
            background-size: 3px 3px;
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            /*-ms-transition: all 0.5s linear;*/
            transition: all 0.5s linear;
            /* -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);*/
            opacity: 0;
        }

        .hover-blur:hover a h1 {
            /*-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);*/
            opacity: 1;
        }

        .hover-blur .text-white {
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -o-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            /*-ms-transition: all 0.5s linear;*/
            transition: all 0.5s linear;
            /*-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);*/
            opacity: 0;
        }

        .hover-blur:hover .text-white {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            /*-ms-transition: all 0.5s linear;*/
            transition: all 0.5s linear;
            /*-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
        filter: alpha(opacity=1);*/
            opacity: 1;
        }

        .bg-img {
            background: -webkit-linear-gradient(270deg, rgb(250, 250, 250) 4%, rgb(139, 199, 255), rgb(0, 131, 255));
            background: -moz-linear-gradient(270deg, rgb(250, 250, 250) 4%, rgb(139, 199, 255), rgb(0, 131, 255));
            background: linear-gradient(270deg, rgb(250, 250, 250) 4%, rgb(139, 199, 255), rgb(0, 131, 255));
        }
        div.card {
            transition-duration: 1s;
            transition-property: all;
        }
        div.card:hover {
            box-shadow: 1px 1px 10px darkgray;


        }

        .font-large-2 {
            font-size: 3rem !important;
        }

        .card {
            margin-bottom: 1.875rem;
            border: none;
            border-radius: 0;
            box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
        }


    </style>-->
@*<div class="hover-blur">
            <a href="#" title="">
                <img src="../../Images/Main.jpg" alt="" />

                <div class="TextContainer">
                    <h1>
                        <span class="text-white">Кафедра </span><br />
                        <p class="text-light" style="font-size:2vw">программного обеспечения вычислительной техники и автоматизированных систем</p>
                    </h1>

                </div>
            </a>
    </div>*@

<!--<div class="container-fluid">
    <div class="row align-items-center my-5">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <img style="width:50%;" src="../../Images/OSU1.png" alt="Image">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start my-3">
            <p class="fst-italic fs-6">
                Кафедра <span class="fw-bold">программного обеспечения вычислительной техники и автоматизированных систем </span>
                является структурным подразделением факультета математики и информационных технологий
                университета и располагается в аудитории 1222 1-го учебного корпуса ОГУ.
            </p>
            <p class="fst-italic fs-6">
                С момента возникновения кафедру отличал высокий научно-методический уровень преподавания
                читаемых дисциплин. В настоящее время традиции кафедры продолжают бывшие выпускники нашего
                вуза, которые начали свою научно-педагогическую карьеру в стенах родной кафедры, будучи еще
                студентами. Первый выпуск инженеров по специальности "Программное обеспечение вычислительной
                техники и автоматизированных систем" состоялся в 1998 году.
            </p>
        </div>
    </div>

    <div class="row align-items-center  text-dark my-5" style="background-color: #F5F7FA;">

        <div class="col-md-6 text-start py-5 mt-3">

            <p class="fst-italic fs-6">
                В настоящее время кафедра имеет в составе 7 предметных аудиторий, из них две мультимедийные аудитории,
                5 компьютерных класса, объединенных локальной сетью с выходом в Интернет, беспроводной сетью Wi-fi.
                За весь период существования на кафедре активно проводилась научно-исследовательская деятельность.
                В 2003 году на кафедре открыта учебно-научная лаборатория компьютерного моделирования.
                На кафедре осуществляется работа по госбюджетной НИР по теме "Развитие информационных технологий и
                методов принятия решений в автоматизированных системах № 02201001067 " под руководством заведующего
                кафедрой ПОВТАС, д. т. н., профессора Н. А. Соловьева. Помимо этого кафедра проводит ежегодно городскую
                олимпиаду по программированию.
            </p>
        </div>
        <div class="col-md-6 my-3">
            <img class="w-75" src="../../Images/All.jpg" alt="Image">
        </div>
    </div>


    <div class="row align-items-center mb-5">
        <div class="col-md-6 col-sm-12">
            <img style="width:40%;" src="../../Images/Solovyov.jpg" alt="Image">
        </div>
        <div class="col-md-6 col-sm-12 ">
            <p class="fst-italic fs-6 ">
                Коллектив кафедры с 2001 года возглавляет доктор технических наук, профессор Н. А. Соловьев,
                ранее возглавлявший кафедру информационных технологий и систем Военного университета ВПВО ВС РФ.
            </p>
        </div>
    </div>

    <div class="row text-dark text-wrap text-break my-5" style="background-color: #F5F7FA;">







        <div class="row my-4">
            <h4 class=" text-center mx-3">Деятельность кафедры</h4>
        </div>

        <div class="row mt-3">
            <div class="col-xl-3 col-sm-6 col-12 my-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-pencil primary font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h6>Образовательные программы</h6>

                                </div>

                                <a href="../../Home/EducationalPrograms" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 my-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-speech warning font-large-2 float-left"></i>

                                </div>
                                <div class="media-body text-right">
                                    <h6>НИР и мероприятия</h6>

                                </div>
                            </div>
                            <a href="../../Home/ResearchWorkAndActivities" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 my-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-graduation success font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h6>Студентам и выпускникам</h6>

                                </div>
                            </div>
                            <a href="../../Home/StudentsAndAlumnus" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 my-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-bell danger font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h6>Школьникам</h6>

                                </div>
                            </div>
                            <a href="../../Home/Schoolchildren" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
@*<div class="row mb-4">
        <div class="col-lg-3 col-sm-6 col-12 my-2">
            <button type="button" class="btn" style="background-color: #7abfff; ">
                <a class="text-white" href="../../Home/EducationalPrograms">Образовательные программы</a>
            </button>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 my-2">
            <button type="button" class="btn" style="background-color: #7abfff; ">
                <a class="text-white" href="../../Home/ResearchWorkAndActivities">НИР и мероприятия</a>
            </button>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 my-2">
            <button type="button" class="btn" style="background-color: #7abfff; ">
                <a class="text-white" href="../../Home/StudentsAndAlumnus">Студентам и выпускникам</a>
            </button>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 my-2">
            <button type="button" class="btn" style="background-color: #7abfff; ">
                <a class="text-white" href="../../Home/Schoolchildren">Школьникам</a>
            </button>
        </div>

    </div>*@


@*
    <div class="col-6 mt-5">

        <div class="accordion" id="accordionPanelsStayOpenExample">

            <div class="accordion-item ">
                <h2 class="accordion-header " id="headingOne">
                    <button class="accordion-button collapsed text-white fs-5" style="background-color: #7abfff; " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        231000 -"Программная инженерия"
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-dark">
                        <ul class="fs-5">
                            <li>бакалавриатура по профилю "Разработка программно-информационных систем"</li>
                            <li>магистратура по профилю "Разработка информационно-телекоммуникационных систем"</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed text-white fs-5" style="background-color: #7abfff; " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        230100 -"Информатика и вычислительная техника"
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-dark">
                        <ul class="fs-5">
                            <li>бакалавриатура по профилю "Программное обеспечение средств вычислительной техники и автоматизированных систем"</li>
                            <li>магистратура по профилю "Информационное и программное обеспечение автоматизированных систем"</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <button type="button" class="btn btn-lg my-5" style="background-color: #7abfff; "><a class="text-white" href="../Home/EducationalPrograms">Подробнее</a></button>

    </div>*@


<!--</div>


</div>-->
