@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
    <img src="~/Images/Main.jpg" style="width: 100% " alt="Responsive image">


    <h2>История кафедры</h2>
    <p>
        Кафедра программного обеспечения вычислительной техники и автоматизированных систем
        является структурным подразделением факультета математики и информационных технологий
        университета и располагается в аудитории 1222 1-го учебного корпуса ОГУ. Кафедра осуществляет подготовку дипломированных специалистов по направлению 230100 -"Информатика и вычислительная техника": специальность 230105.65 – "Программное обеспечение вычислительной техники и автоматизированных систем", бакалавриатура по профилю "Программное обеспечение средств вычислительной техники и автоматизированных систем", магистратура по профилю "Информационное и программное обеспечение автоматизированных систем", а также по направлению 231000 -"Программная инженерия": бакалавриатура по профилю "Разработка программно-информационных систем", магистратура по профилю "Разработка информационно-телекоммуникационных систем".

        На сегодняшний день на кафедре работают 20 сотрудников, из них 15 преподавателей, в том числе 2 доктора (Н. А. Соловьев, Т. М. Зубкова), 11 кандидатов наук (В. В. Паничев, Е. Н. Наточая, Т. В. Волкова, Л. А. Юркевская, Л. Ф. Тагирова, В. Н. Костин, И. А. Щудро, Н. А. Тишина, М. Н. Мошуров, А. М.  Семенов, С. А. Щелоков) и 1 программист (Я. М. Коновал) .
    </p>
    


</div>


