
@{
    ViewBag.Title = "Schoolchildren";
}

<h2>Школьникам</h2>

<div>
    <style>
        body {
            min-width: min-content;
        }

    </style>

    <div class="row align-items-center" >
        <div class="col-md-6 mb-5 mt-5">
            <img src="../../Images/PC.jpg" alt="Image" width="600px" height="360px">
        </div>
        <div class="col-md-6 text-start">
            <h5>
                Yea sooth feud another florid parting that dote charms like most to love misery call waste
                nor his bower none and climes crime to his native care brow far ear shell dome to as his vast 
                prose light been the mighty made youth spoiled if open alas pangs in deemed now to in begun 
                the that pomp disporting of had hill his was day could waste hellas take despair though but 
                mothernot a that almost the unto near lands low
            </h5>
            <h5>
                He me my deigned massy longed and ah of few soul known almost reverie had from name this was 
                him his there gathered it who the harold care worse nor bower earth the to breast might all 
                made come his to resolved not memory den had before none nor sing heavenly and and on ah only
                him where seemed from which where to but befell some mirth domestic scene the aisle would mine
                vulgar spoiled wassailers which nine and maidens clay unto nine time however with might control
                condemned blast
            </h5>
        </div>
    </div>

    <div class="row align-items-center bg-light p-5">

        <div class="col-md-6 text-end text-dark">
            <h5>
                Lorem eirmod diam dolore blandit no eum lorem dolor iusto magna gubergren tincidunt rebum 
                invidunt dolore dolores dolor ut sed consetetur dolor justo magna dolore ipsum at est ullamcorper 
                elitr ea sed sadipscing et kasd kasd dolore labore aliquyam vero exerci at ut nulla tempor rebum 
                ipsum no wisi et takimata sanctus accumsan voluptua te minim ipsum sit lorem luptatum labore sed 
                diam voluptua placerat ut vel lorem ex ipsum est praesent et sadipscing vero dignissim vel nonumy 
                consetetur justo
            </h5>
            <h5>
                Lorem eirmod diam dolore blandit no eum lorem dolor iusto magna gubergren tincidunt rebum
                invidunt dolore dolores dolor ut sed consetetur dolor justo magna dolore ipsum at est ullamcorper
                elitr ea sed sadipscing et kasd kasd dolore labore aliquyam vero exerci at ut nulla tempor rebum
                ipsum no wisi et takimata sanctus accumsan voluptua te minim ipsum sit lorem luptatum labore sed
                diam voluptua placerat ut vel lorem ex ipsum est praesent et sadipscing vero dignissim vel nonumy
                consetetur justo
            </h5>
        </div>
        <div class="col-md-6 text-start mb-5">
            <img src="../../Images/PC2.jpg" alt="Image" width="600px" height="300px">
        </div>
    </div>
